
.diary-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.diary-entry {
    border: solid black;
    width: 200px;
    height: 300px;
    display: inline-block;
    vertical-align: text-top;
    margin: 20px;
    padding: 10px;
}

#instructions {
    white-space: pre-line;
}

.guest-account {
    display: none;
}