@import 'variables';
@import 'mixins';
html {
    font-size: 10px;
}
body {
    background: $main-bgcolor;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

h1{
    color: white;
    font-size: 5rem;
    text-align: center;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    min-height: 80vh;
}

.sign-in-btn {
    text-align: center;
    .sign-in-out {
        @include tile(1.6rem);
        padding: 1rem;
        margin: 1rem;
        p {
            margin: 0;
        }
        .fa-google {
            margin-right: 0.5rem;
        }
    }
}

.sign-out-btn {
    text-align: right;
    // margin-right: 6rem;
    button {
        @include tile(1.6rem);
        position: absolute;
        top: 2rem;
        right: 0;
        margin: 1rem;
    }
}

.intro {
    @include tile(1.6rem);
    margin: 2rem auto;
    width: 70%;
    text-align: center;
    p {
        width: 75%;
        margin: 0 auto;
    }
    .breadimg {
        background: white;
        width: 40%;
        padding: 2rem;
        margin: 5rem auto;
        box-shadow: 1px 1px 3px 1px lightgrey;
        transform: rotate(2deg);
    }
    img {
        width: 100%;
    }
    caption {
        text-align: center;
        margin: 0 auto;
    }
}

.hide {
    display: none;
}

footer {
    color: white;
    text-align: center;
    a {
        color: white;
        text-decoration: none;
    }
}
