@import 'variables';
@import 'mixins';


.diary-entry {
    @include tile(1.6rem);
    margin: 0 auto;
    width: 70%;
    position: relative;
    h3,p {
        margin: 0;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
    h3 {
        text-transform: uppercase;
    }
    button:hover {
        @include tile(1.6rem);
        border: solid 0.3rem;
        border-radius: 0.5rem;
        transition: 0.1s;
        text-transform: uppercase;
    }
    button{
        transition: 0.1s;
        background: $tile-fontcolor;
        color: $tile-bgcolor;
        border: solid 0.3rem $tile-fontcolor;
        border-radius: 0.5rem;
        text-transform: uppercase;
        float: right;
        margin: 1rem;
    }
}

.diaryEntry-header, .diaryEntry-section-small, .diaryEntry-section-large{
    display: flex;
}
.diaryEntry-item {
    font-size: 1.6rem;
}


.diaryEntry-header {
    justify-content: space-evenly;
    border-bottom: solid thick;
    .diaryEntry-item {
        display: flex;
        border-left: solid thick;
        padding: 1rem;
        min-width: 20%;
    }
    .diaryEntry-item:first-child {
        border:none;
    }
    #sourdough-heading {
        flex-grow: 12;
    }
    p {
        margin: 0 1rem;

    }
}

.diaryEntry-section-large p, .diaryEntry-section-small p{
    background: url('../images/entry-bg.svg');
    min-height: 10rem;
    width: 100%;
}

.diaryEntry-section-small {
    .diaryEntry-item{
        width: 50%;
        margin: 1rem;
    }
}

.diaryEntry-section-large {
    margin: 5rem 1rem;
    .diaryEntry-item{
        width: 100%;
    }
}
.pre-line {
    white-space: pre-line;
}